html {
    box-sizing: border-box;
    height: 100%;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Roboto', sans-serif;
    background: darkgoldenrod;
}

#background { 
    background-image: url(media/water3.jpg);
    background-size: cover;
    /* background-position: 0 25%; */
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
}

#container {
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.profilepicture {
    margin: 10px;
}

.profilepicture img {
    margin: 0 auto;
    margin-top: 40px;
    height: 175px;
    border-radius: 100%;
    display: block;
    opacity: 0.95;
    padding: 15px;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color:rgba(255, 255, 255, 0.095);
}

h1 {
    color: white;
    min-height: 40px;
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin: 10px;
}

ul.icons {
    cursor: pointer;
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin: 20px;
}

ul.icons li {
    display: inline-block;
}

ul.icons img {
    height: 45px;
    border-radius: 100%;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color:rgba(255, 255, 255, 0.095);
    padding: 5px;
    margin: 5px;
    opacity: 0.9;
}

.main {
    display: block;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 0 40px -40px;
}

.thumbnails > div {
    margin-left: 40px;
    width: 33.3%;
}

.thumbnails .card {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.075);
    margin-bottom: 40px;
}

.thumbnails .card:hover {
    background-color:rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #FF6382;
    cursor: pointer;
}

.thumbnails img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; 
    vertical-align: bottom;
}

.thumbnails iframe {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;   
}

.thumbnails h3 {
    color: #ffffff;
    font-weight: 300;
    line-height: 2.5;
    margin: 0;
    text-align: center;
}

.thumbnails p {
    color: #ffffff;
    font-weight: 300;
    line-height: 2.5;
    margin: 0;
    text-align: center;  
}

.thumbnails a {
    text-decoration: none;
}

.embed-footer {
    background: rgba(0,0,0,0.075);
}

@media only screen and (max-width: 1100px) {
    #background {
        /* background-position: 0 0; */
    }
}

@media only screen and (max-width: 480px) {
    .thumbnails {
        display: block;
        margin: 0;
    }
    .thumbnails > div {
        width: 100%;
        padding: 20px;
        margin: 0;
    }

    .thumbnails .column {
        padding: 0px 20px 0px 20px;
    }
}
