html {
    box-sizing: border-box;
    height: 100%;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Roboto', sans-serif;
    background: darkgoldenrod;
}

#background { 
    background-image: url(media/water3.jpg);
    background-size: cover;
    /* background-position: 0 25%; */
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
}

#container {
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.profilepicture {
    margin: 10px;
}

.profilepicture img {
    margin: 0 auto;
    margin-top: 40px;
    height: 225px;
    border-radius: 100%;
    display: block;
    opacity: 0.95;
    padding: 15px;
    border: solid 1px rgba(2, 132, 123, 0.025);
    background-color: rgba(2, 132, 123, 0.15);
}

h1 {
    color: white;
    min-height: 40px;
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin: 10px;
}

ul.icons {
    cursor: pointer;
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin: 20px;
}

ul.icons li {
    display: inline-block;
}

ul.icons img {
    height: 50px;
    border-radius: 100%;
    border: solid 1px rgba(2, 132, 123, 0.03);
    background-color: rgba(2, 132, 123, 0.1);
    padding: 5px;
    margin: 5px;
    opacity: 0.9;
}

.main {
    display: block;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 0 40px -40px;
}

.thumbnails > div {
    margin-left: 40px;
    width: 33.3%;
}

.thumbnails .card {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-bottom: 40px;
}

.thumbnails .card:hover {
    background-color:rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 rgb(2, 201, 187);
    cursor: pointer;
}

.thumbnails img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 4px; 
    vertical-align: bottom;
}

.thumbnails video {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 4px; 
    vertical-align: bottom;
}

.thumbnails iframe {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;   
}

.thumbnails h3 {
    color: #ffffff;
    font-weight: 300;
    line-height: 4;
    margin: 0;
    text-align: center;
    font-size: 18px;
}

.thumbnails p {
    color: #ffffff;
    font-weight: 300;
    line-height: 2.5;
    margin: 0;
    text-align: center; 
    font-size: 16px; 
}

/* .thumbnails a {
    /* text-decoration: none; */
} */

.embed-footer {
    background: rgba(0,0,0,0.075);
}

#aboutmeparagraph {
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.2), 0 0 0.5em 0 rgb(90, 179, 173);
    border-radius: 5px;
    background-color: rgba(2, 132, 123, 0.7);
    width: 1000px;
    margin: 0 auto 50px;
    padding: 55px;
}

#aboutmeparagraph p {
    color: white;
    display: block;
    font-weight: 300;
    line-height: 2;
    margin: 0;
    padding-bottom: 35px;
    font-size: 16px;
}

#aboutmeparagraph p:last-child {
    padding-bottom: 0;
}

#aboutmeparagraph a {
    color: white;
    font-size: 16px;
}

#aboutmeparagraph h3 {
    color: white;
    display: block;
    font-weight: 300;
    text-decoration: underline;
    margin: 0;
    padding-bottom: 35px;
    font-size: 18px;
}

.popup {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
.popuptext {
    width: 1000px;
    Height: 600px;
    color: #fff;
    display: block;
    border-radius: 5px;
    background-color: rgba(2, 132, 123);
    margin: -300px auto;
    position: relative;
  }

  .popuptext p{
    text-align: left;
    padding-bottom: 35px;
    font-size: 16px;
  }

  .popuptext h2{
    text-align: left;
    margin: 0px;
    font-size: 22px;
  }

  .popuptext h3{
    text-align: left;
    text-decoration: underline;
    padding-bottom: 35px;
    font-size: 18px;
  }

  .popuptext a{
    text-align: left;
    color: #fff; 
    font-size: 18px;
  }

  #cookieprebulletpointp p {
      padding-bottom: 5px;
  }

  .cookiebulletpoints {
    font-size: 16px;
    font-weight: 300;
    line-height: 2.5;
    padding-bottom: 35px;
    padding-left: 15px;
    margin: 0;
  }

  .popupmaintext {
    overflow-y: auto;
    height: 100%;
    padding: 55px;
  }

  .popupcontainer {
      visibility: hidden;
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.75);
      top: 0;
      left: 0;
      z-index: 1;
      padding-top: 50vh;
      cursor: default;
  }

  .popupcontainer img {
      z-index: 1;
      height: 50px;
      width: 50px;
      border-radius: 100%;
      position: absolute;
      top: -20px;
      right: -20px;
      cursor: pointer;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }




@media only screen and (max-width: 1100px) {
    #background {
        /* background-position: 0 0; */
    }
}

@media only screen and (max-width: 480px) {
    .thumbnails .card:hover {
        cursor: none;
    }
    
    ul.icons {
        cursor: none;
    }
    
    .thumbnails {
        display: block;
        margin: 0;
    }
    .thumbnails > div {
        width: 100%;
        padding: 20px;
        margin: 0;
    }

    .thumbnails .column {
        padding: 0px 20px 0px 20px;
    }
    .thumbnails p {
        color: #ffffff;
        font-weight: 300;
        line-height: 2;
        margin: 0;
        text-align: center; 
    }
    #aboutmeparagraph {
        width: auto;
        padding: 20px;
        margin: 20px 20px 30px 20px;
        box-shadow: inset 0 0 0 0px rgba(255, 255, 255, 0.2), 0 0 0.5em 0 rgb(90, 179, 173);
    }

    .popuptext {
        width: 100%;
        Height: 100%;
        margin: 0;
        font-size: 16px;
      }

    .popuptext p {
        text-align: left;
        padding-bottom: 30px;
    }

    .popuptext p:last-child {
        padding-bottom: 20px;
    }

    .popuptext h2 {
        padding-top: 10px;
        font-size: 20px;
    }

    .popuptext h3 {
        padding-bottom: 30px;
    }
    
    .popuptext a {
        font-size: 18px;
        padding: 0;
    }

    .popupmaintext {
        padding: 30px;
    }

    .popupcontainer {
        padding: 30px;
    }
    .cookiebulletpoints {
        padding: 30px; 
    }
    
    .popupcontainer img {
        cursor: none;
    }
}